.testimony {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.testimony-glass {
  border-radius: 24px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(39.7657px);
  box-shadow: 1px 1px 3px white inset;
  max-width: 1185px;
  text-align: center;
  padding: 24px;
  box-sizing: border-box;
}
.testimony p img {
  width: 64px;
}
.ctestimonyoments p:nth-child(2) {
  font: var(--body3);
  margin-bottom: 24px;
}
.testimony p:nth-child(3) {
  font: var(--caption);
}

@media screen and (min-width: 768px) {
  .testimony p img {
    width: 80px;
  }

  .testimony p:nth-child(2) {
    font: var(--headLine4);
  }
  .testimony p:nth-child(3) {
    font: var(--headLine5);
  }
}
